<footer id="footer">
  <p>
    Created by <a href="https://leecat.art">Lee Cattarin</a> with help from
  </p>
  <ul>
    <li>
      <a href="https://linktr.ee/lenny_wonders">Lenny Wondra</a> (CSS and
      accessibility)
    </li>
    <li><a href="https://jaygrant.dev">Mx. Jay Grant</a> (web design)</li>
    <li>
      <a href="https://github.com/Joll59">Yomi Lajide</a> (responsive
      design)
    </li>
    <li>
      <a href="https://kolektiva.social/@LinsCollective">Lins&</a> (planning
      and support)
    </li>
    <li>
      <a href="https://socialgaff.whirling.top">Liam Woodard</a> (site
      testing)
    </li>
    <li>and all our wonderful <a href="/artists">artists</a></li>
  </ul>
  <p>
    Got site feedback?
    <a href="mailto:lee.cattarin@gmail.com?subject=rTR feedback"
      >Reach out!</a
    >
  </p>
</footer>