{{> head}}

	<body class="dark">
		<div class="wrapper">
			<nav id="top-nav" style="justify-content: flex-end;"><button class="nav-item" id="alignment" title="toggle left/right navbar alignment"><i class="fa-regular fa-hand-point-left" aria-hidden="true"></i></button>
				<a class="nav-item" href="/artists">artists</a>
				<a class="nav-item" href="/signup">signup</a>
				<a class="nav-item" href="/inventory">inventory</a>
						
			<button class="nav-item" id="theme" title="toggle light/dark mode"><i class="fa-regular fa-sun" aria-hidden="true"></i></button></nav>

			<div class="wip">
				<p>
					This is the <b>development site!</b>
				</p>
			</div>

			<div class="content" role="main">